### Group redirection. Merging dataframe of ICO features ONLY. Merging 1-Hot encoding columns from Mina with success_df.

In [148]:
import pandas as pd
from path import Path

import requests
import pprint
import requests
from requests.exceptions import HTTPError
from datetime import datetime as dt
import pandas as pd
import numpy as np
import timeit
import time
import datetime
import copy

import numpy as np
from sklearn import preprocessing
%matplotlib inline

In [149]:
## Call christians tweets
twitter_df = pd.read_csv(Path(f'../../df.csv'))

In [150]:
twitter_df.head(2)

,Unnamed: 0,Name,Compound,Description,Duration,End,Negative,Neutral,Positive,Price(USD),ROI(Pct),Start,Ticker,Timezone
0,i,SaltMine,0.17255,NaN,NaN,NaN,0.000,0.94575,0.05425,NaN,NaN,NaN,NaN,NaN
1,i,VANM,-0.12800,NaN,NaN,NaN,0.048,0.95200,0.00000,NaN,NaN,NaN,NaN,NaN

In [151]:
### rename netural, positive, negative to tweeter_neutral, tweeter_positive, tweeter_negative
twitter_df.rename(columns ={'Negative':'Twitter_Negative', 'Positive':'Twitter_Positive', 'Neutral':'Twitter_Neutral'}, inplace = True)

In [152]:
twitter_df.head(2)

,Unnamed: 0,Name,Compound,Description,Duration,End,Twitter_Negative,Twitter_Neutral,Twitter_Positive,Price(USD),ROI(Pct),Start,Ticker,Timezone
0,i,SaltMine,0.17255,NaN,NaN,NaN,0.000,0.94575,0.05425,NaN,NaN,NaN,NaN,NaN
1,i,VANM,-0.12800,NaN,NaN,NaN,0.048,0.95200,0.00000,NaN,NaN,NaN,NaN,NaN

In [153]:
twitter_df.columns

Index(['Unnamed: 0', 'Name', 'Compound', 'Description', 'Duration', 'End',
       'Twitter_Negative', 'Twitter_Neutral', 'Twitter_Positive', 'Price(USD)',
       'ROI(Pct)', 'Start', 'Ticker', 'Timezone'],
      dtype='object')

In [154]:
twitter_df.drop(columns = ['Unnamed: 0', 'Compound', 'Description', 'Duration', 'End', 'Price(USD)','ROI(Pct)', 'Start', 'Timezone'], inplace = True)

In [155]:
twitter_df.head(2)

       Name  Twitter_Negative  Twitter_Neutral  Twitter_Positive Ticker
0  SaltMine             0.000          0.94575           0.05425    NaN
1      VANM             0.048          0.95200           0.00000    NaN

In [156]:
#keeping only twitter data
twitter_df = twitter_df.iloc[:743].tail()

In [157]:
### append to success_df and one_hot_features

In [174]:
success_df = pd.read_csv(Path(f'../../../../data/cleandata/merges/success_df.csv'))

In [175]:
success_df.head(2)

,rank_cnc,Name,Ticker,market_cap,price,volume24,pct1h,pct24h,pct7d,country,...,pre_Duration,compound,negative,neutral,positive,no_of_posts,Longevity,custom_index,custom_index_scaled,success
0,2,Ethereum,ETH,"20,155,411,771",185.67,"7,906,136,399",-0.10,-1.20,-0.96,Switzerland,...,0 days 00:00:00.000000000,0.460570,0.06116,0.02739,0.90151,100,779,144636.93,0.129162,1
1,7,Binance Coin,BNB,"3,277,372,658",21.07,"231,846,713",-0.46,-1.33,2.49,Japan,...,0 days 00:00:00.000000000,0.563773,0.09667,0.04141,0.86189,100,848,17867.36,0.015956,1

In [176]:
success_df.shape

(573, 29)

In [177]:
success_df.columns

Index(['rank_cnc', 'Name', 'Ticker', 'market_cap', 'price', 'volume24',
       'pct1h', 'pct24h', 'pct7d', 'country', 'platform', 'pre_ico_end',
       'pre_ico_start', 'rating', 'status', 'type', 'End', 'Start', 'Duration',
       'pre_Duration', 'compound', 'negative', 'neutral', 'positive',
       'no_of_posts', 'Longevity', 'custom_index', 'custom_index_scaled',
       'success'],
      dtype='object')

In [178]:
success_df.drop(columns = ['rank_cnc', 'market_cap', 'price', 'volume24',
       'pct1h', 'pct24h', 'pct7d', 'country', 'platform', 'pre_ico_end',
       'pre_ico_start', 'rating', 'status', 'type', 'End', 'Start', 'Longevity', 'custom_index', 'custom_index_scaled'], inplace = True)

In [179]:
success_df.columns

Index(['Name', 'Ticker', 'Duration', 'pre_Duration', 'compound', 'negative',
       'neutral', 'positive', 'no_of_posts', 'success'],
      dtype='object')

In [180]:
success_df.head(2)

,Name,Ticker,Duration,pre_Duration,compound,negative,neutral,positive,no_of_posts,success
0,Ethereum,ETH,0 days 00:00:00.000000000,0 days 00:00:00.000000000,0.460570,0.06116,0.02739,0.90151,100,1
1,Binance Coin,BNB,20 days 00:00:00.000000000,0 days 00:00:00.000000000,0.563773,0.09667,0.04141,0.86189,100,1

In [181]:
success_df.dtypes

Name             object
Ticker           object
Duration         object
pre_Duration     object
compound        float64
negative        float64
neutral         float64
positive        float64
no_of_posts       int64
success           int64
dtype: object

In [182]:
for i in range(len(success_df)) : 
    success_df.loc[i, 'Duration'] = int(success_df.loc[i, 'Duration'][:-24])

In [183]:
for i in range(len(success_df)) : 
    success_df.loc[i, 'pre_Duration'] = int(success_df.loc[i, 'pre_Duration'][:-24])

In [184]:
success_df.head()

,Name,Ticker,Duration,pre_Duration,compound,negative,neutral,positive,no_of_posts,success
0,Ethereum,ETH,0,0,0.460570,0.061160,0.027390,0.901510,100,1
1,Binance Coin,BNB,20,0,0.563773,0.096670,0.041410,0.861890,100,1
2,EOS,EOS,350,0,0.828470,0.032200,0.858550,0.109270,100,0
3,Cardano,ADA,488,0,0.589474,0.098387,0.032946,0.868753,93,0
4,Huobi Token,HT,0,0,0.525717,0.081630,0.033480,0.884940,100,1

In [185]:
success_df.dtypes

Name             object
Ticker           object
Duration          int64
pre_Duration      int64
compound        float64
negative        float64
neutral         float64
positive        float64
no_of_posts       int64
success           int64
dtype: object

In [186]:
one_hot_features = pd.read_csv(Path(f"../../../../data/cleandata/encoded.csv"))

In [187]:
one_hot_features.head(2)

,Ticker,country_Argentina,country_Armenia,country_Australia,country_Austria,country_Azerbaijan,country_Bahamas,country_Belarus,country_Belgium,country_Belize,...,platform_Hyperledger,platform_Litecoin,platform_NEM,platform_NEO,platform_Nxt,platform_Omni,platform_Own Blockchain,platform_Scrypt,platform_Stellar,platform_Waves
0,ETH,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,BNB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [188]:
one_hot_features.shape

(573, 84)

In [189]:
#merging twitter and success by Name
merged = pd.merge(left=success_df, right=twitter_df, left_on='Name', right_on='Name')

In [190]:
merged.head(2)

Empty DataFrame
Columns: [Name, Ticker_x, Duration, pre_Duration, compound, negative, neutral, positive, no_of_posts, success, Twitter_Negative, Twitter_Neutral, Twitter_Positive, Ticker_y]
Index: []

In [79]:
merged.shape

In [80]:
merged_twitter = pd.merge(left=merged, right=twitter_df, left_on='Ticker', right_on='Ticker')

In [82]:
merged_twitter.shape

(292, 95)

In [67]:
file_path = Path("../../../../data/cleandata/1hot_merged_post_ICO.csv")
merged_post_ICO.to_csv(file_path, index=False)

In [ ]:
file_path = Path("../../../../data/cleandata/1hot_merged_360_ICO.csv")
merged_360_ICO.to_csv(file_path, index=False)