# WrapAPI

In [ ]:
# https://wrapapi.com/use/eccadena/trackico/finances1/0.0.1?wrapAPIKey=HzqWb8NGMMD0VcX0CF4VWYvcle67YWC5

In [121]:
import requests
import pprint
import requests
from requests.exceptions import HTTPError
from datetime import datetime as dt
import pandas as pd
import numpy as np
from path import Path

In [3]:
for url in ["https://wrapapi.com/use/eccadena/trackico/finances1/0.0.1?wrapAPIKey=HzqWb8NGMMD0VcX0CF4VWYvcle67YWC5"]:
    try:
        response = requests.get(url)

        # If the response was successful, no Exception will be raised
        response.raise_for_status()
    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')  # Python 3.6
    except Exception as err:
        print(f'Other error occurred: {err}')  # Python 3.6
    else:
        print('Success!')

Success!

In [5]:
response = requests.get(f"https://wrapapi.com/use/eccadena/trackico/finances1/0.0.1?wrapAPIKey=HzqWb8NGMMD0VcX0CF4VWYvcle67YWC5")
response = response.json()
type(response)

dict

In [7]:
response

{'success': True,
 'outputScenario': 'Default',
 'data': {'output': ['04/18/2019 midnight\n- Unspecified',
   'Switzerland',
   'ICO',
   'ICO',
   'INBIT',
   'Ethereum',
   '0.01 EUR\n\n(0.01102 USD)',
   '6,500,000,000 INBIT\n (51%)',
   '12,763,636,364 INBIT',
   '50,000,000\nEUR\n (55,100,000 USD)',
   'ETH, BTC, LTC, BCH',
   'Afghanistan, Bosnia and Herzegovina, Central African Republic, Congo, Cuba, Eritrea, Ethiopia, Guinea-Bissau, Iran, Iraq, Lebanon, Libya, North Korea, Somalia, South Sudan, Sudan, Switzerland, Syria, Uganda, United States of America, Vanuatu, Yemen',
   'Yes',
   'Presale Tier 5Period: 07.10.2019 - 27.10.2019Discount: 20%Amount of sale: 250 000 â‚¬',
   'Dec. 19, 2018',
   'May 5, 2019',
   '133,333,000 InBit',
   '1,469,329 USD',
   '1.0 %',
   '04/18/2019 midnight\n- Unspecified',
   'Switzerland',
   'ICO',
   'Ethereum',
   '0.01 EUR',
   'Available',
   '694,420 th',
   '8,957',
   '4,933']},
 'stateToken': 'eyJqYXIiOnsidmVyc2lvbiI6InRvdWdoLWNvb2tpZUAyLjMuNCIsInN0b3JlVHlwZSI6Ik1lbW9yeUNvb2tpZVN0b3JlIiwicmVqZWN0UHVibGljU3VmZml4ZXMiOnRydWUsImNvb2tpZXMiOlt7ImtleSI6ImNzcmZ0b2tlbiIsInZhbHVlIjoiMEd1Snl3RDRGQVZkV3l6R0I1ZUFYaE9lenR2cDB4SlhrcmNkbWREVUIyWks2TXNkRDJ0TU5SdXdTaTNtWGtPYyIsImV4cGlyZXMiOiIyMDIwLTExLTEzVDAwOjUzOjU2LjAwMFoiLCJtYXhBZ2UiOjMxNDQ5NjAwLCJkb21haW4iOiJ3d3cudHJhY2tpY28uaW8iLCJwYXRoIjoiLyIsImV4dGVuc2lvbnMiOlsiU2FtZVNpdGU9TGF4Il0sImhvc3RPbmx5Ijp0cnVlLCJjcmVhdGlvbiI6IjIwMTktMTEtMTVUMDA6NTM6NTYuMjQ4WiIsImxhc3RBY2Nlc3NlZCI6IjIwMTktMTEtMTVUMDA6NTM6NTYuMjQ4WiJ9XX0sInZlcnNpb24iOjF9',
 'cookies': [{'key': 'csrftoken',
   'value': '0GuJywD4FAVdWyzGB5eAXhOeztvp0xJXkrcdmdDUB2ZK6MsdD2tMNRuwSi3mXkOc',
   'expires': '2020-11-13T00:53:56.000Z',
   'maxAge': 31449600,
   'domain': 'www.trackico.io',
   'path': '/',
   'extensions': ['SameSite=Lax'],
   'hostOnly': True,
   'creation': '2019-11-15T00:53:56.248Z',
   'lastAccessed': '2019-11-15T00:53:56.248Z'}]}

In [15]:
response = requests.get(f"https://wrapapi.com/use/eccadena/cmcapi/all/0.0.1?wrapAPIKey=HzqWb8NGMMD0VcX0CF4VWYvcle67YWC5")
response = response.json()
type(response)

dict

In [59]:
def CMC_api_all():
    
    df_all = pd.DataFrame()
    
    l = list(range(20000))
    
    for i in l[0::11]:
        df_raw = pd.DataFrame(response['data']['output'][0+i:11+i]).T
        df_raw.rename(columns = {'0':'rank_cmc','1':'title','2':'ticker','3':'market_cap','4':'price','5':'supply','6':'volume24','7':'pct1h','8':'pct24h','9':'pct7d','10':'addremove'})
        df_all = pd.concat([df_raw,df_all])
        print('Joining Dataframe')
    return df_all

In [60]:
df_all_CMC = CMC_api_all()

In [76]:
df_all_CMC.head()

,0,1,2,3,4,5,6,7,8,9,10
0,1819,PKB\n\nParkByte,PKB,"$17,605",$0.003695,"4,764,026\n*",Low Vol,0.00%,0.00%,-4.83%,Add to Watchlist\nRemove from Watchlist\nWatch...
0,1818,SUPER\n\nSuperCoin,SUPER,"$17,712",$0.000347,"51,025,981",Low Vol,-0.34%,-1.45%,-90.40%,Add to Watchlist\nRemove from Watchlist\nWatch...
0,1817,PAK\n\nPakcoin,PAK,"$17,858",$0.000260,"68,594,750",Low Vol,-0.34%,-25.99%,-6.14%,Add to Watchlist\nRemove from Watchlist\nWatch...
0,1816,ELTCOIN\n\nELTCOIN,ELTCOIN,"$17,869",$0.000199,"90,000,000\n*","$1,044",-0.28%,-28.24%,-30.59%,Add to Watchlist\nRemove from Watchlist\nWatch...
0,1815,IQ\n\nIQ.cash,IQ,"$17,920",$0.004599,"3,896,163",Low Vol,-2.18%,49.30%,15.77%,Add to Watchlist\nRemove from Watchlist\nWatch...

In [65]:
# DO NOT RUN AGAIN UNLESS YOU HAVE COPIED THE WEBSITE df_all_CMC_clipboard = pd.read_clipboard()

In [79]:
df_all_CMC_clipboard.drop(columns = ['Unnamed: 10'], inplace = True)

In [117]:
df_all_CMC_clipboard.shape

(2369, 10)

In [96]:
#df_all_CMC_clipboard.rename(columns = {'#':'rank_cnc','Symbol':'ticker','Market Cap':'market_cap','Price':'price','Circulating Supply':'supply','Volume (24h)':'volume24','% 1h':'pct1h','% 24h':'pct24h','% 7d':'pct7d'}, inplace=True)

In [118]:
df_all_CMC_clipboard.head()

,rank_cnc,Name,ticker,market_cap,price,supply,volume24,pct1h,pct24h,pct7d
0,1,Bitcoin,BTC,"156,629,905,950","8,678.58",-6.14,"19,216,389,896",-0.28,-1.35,-6.14
1,2,Ethereum,ETH,"20,155,411,771",185.67,-0.96,"7,906,136,399",-0.10,-1.20,-0.96
2,3,XRP,XRP,"11,612,597,542",0.268199,-7.36,"1,265,885,288",-0.57,-1.75,-7.36
3,4,Bitcoin Cash,BCH,"5,016,918,192",276.97,-5.39,"1,842,963,894",-0.75,-3.01,-5.39
4,5,Tether,USDT,"4,135,369,515",1.01,0.34,"22,054,927,684",-0.08,0.36,0.34

In [113]:
def CMC_df_cleaning(df):
    
    df['price'] = df['price'].apply(lambda x: x.strip('$'))
    df['market_cap'] = df['market_cap'].apply(lambda x: x.strip('$'))
    df['volume24'] = df['volume24'].apply(lambda x: x.strip('$'))
    
    df['pct1h'] = df['pct1h'].apply(lambda x: x.strip('%'))
    df['pct24h'] = df['pct24h'].apply(lambda x: x.strip('%'))
    df['pct7d'] = df['pct7d'].apply(lambda x: x.strip('%'))
    
    df['supply'] = df['pct7d'].apply(lambda x: x.strip('*'))
    
    df = df.replace('?',0)
    
    return df

df_all_CMC = CMC_df_cleaning(df_all_CMC_clipboard)

In [116]:
df_all_CMC

In [123]:
file_path = Path("../../../../data/cleandata/CMC_df.csv")
df_all_CMC.to_csv(file_path, index=False)